<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Universal Controller 2.0</title>


  <link rel="stylesheet" href="./css/buttonshake.css" />
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <!-- <link href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" rel="stylesheet" /> -->

  <!-- Our Custom CSS -->
  <link rel="stylesheet" title="default" type="text/css" href="./css/style.css" />
  <link rel="alternate stylesheet" type="text/css" href="./css/style2.css" title="alternate" />

  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="./css/tether.css">
</head>

<body id="myBody">

  <!-- Menu -->
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h2>Hi, Rachel</h2>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="/" onclick="playSound()">Home</a>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <!--Change theme-->
          <a href="#settings" onclick="playSound()" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
          <ul margin="centre" class="collapse list-unstyled" id="settings">
            <li align:center>
              <button class="settingsbtn" onclick="playSound(); setActiveStyleSheet('default'); return false;">Light</button> | <button class="settingsbtn" onclick="playSound(); setActiveStyleSheet('alternate'); return false;">Dark</button>
            </li>
            <br>
            <li>
              <!--Sound enabler-->
              <button class="settingsbtn" onclick="enableMute()">Mute</button> |
              <button class="settingsbtn" onclick="disableMute() ; playSound()">Unmute</button>
            </li><br>
            <li>
              <!--Sound choices-->
              <button class="settingsbtn" onclick="playSound1(); sound1()">1</button> |
              <button class="settingsbtn" onclick="playSound2(); sound2()">2</button> |
              <button class="settingsbtn" onclick="playSound3(); sound3()">3</button> |
              <button class="settingsbtn" onclick="playSound4(); sound4()">4</button> |
              <button class="settingsbtn" onclick="playSound5(); sound5()">5</button>
            </li>
            <br>
            <li>
              <!--Change size-->
              <button class="settingsbtn" onclick="playSound(); resizeText(1)" id="plustext">+</button> |
              <button class="settingsbtn" onclick="playSound(); resizeText(-1)" id="minustext">-</button>
            </li>
            <br>
            <li>
              <!--Shake enabler-->
              <button class="settingsbtn" onclick="shake(); playSound()">Shake</button> |
              <button class="settingsbtn" onclick="noshake() ; playSound()">No Shake</button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Page Content -->
  <div id="content">
    <div class="container">
      <!-- Button for collapsing menu -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" onclick="playSound()" id="sidebarCollapse" class="btn btn-dark">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
      </nav>

      <!-- Title -->
      <Br></Br>
      <H1 style="text-align: center; font-size : 2.0em; font-weight: bolder">Universal Controller 2.0</H1>
      <Br></Br>
    </div>

    <section class="tab-content">
      <!-- Produce a button for each method -->
      <% device.methods.forEach(function(method) { %>
        <!-- If text input required, generate a text box -->
        <%if (method.text_input_field != '') { %>
          <div class="col-sm-12">
            <input class="input-textbox" id="textbox<%= method.method %>" value='' />
          </div>
          <% } %>
            <div>
              <!-- Store the information for http request in the hidden input fields -->
              <input type="hidden" id="http_method<%= method.method %>" value='<%= method.http_method %>' />
              <input type="hidden" id="link<%= method.method %>" value='<%= method.link %>' />
              <input type="hidden" id="data<%= method.method %>" value='<%= method.data %>' />
              <input type="hidden" id="headers<%= method.method %>" value='<%= method.headers %>' />
              <input type="hidden" id="callback_function<%= method.method %>" value='<%= method.callback_function %>' />
              <input type="hidden" id="text_input_field<%= method.method %>" value='<%= method.text_input_field %>' />
              <button onclick="sendRequest(this)" style="font-size : 1.0em; width: 100%;" class="method-button" type="submit" value="<%= method.method %>" id='<%= method.method %>'><%= method.method %></button>
            </div>
        <% }); %>
    </section>
  </div>

  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <!-- jQuery Custom Scroller CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

  <script src="../js/buttonshake.js"></script>
  <script src="../js/tether.js"></script>
  <script src="../js/sound.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/http.js"></script>
  <script src="../js/stylesheetswitcher.js"></script>
  <script src="../js/resizetext.js"></script>
  <script src="../js/menu.js"></script>

</body>

</html>
