<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/menu.css" />
  <link rel="stylesheet" type="text/css" href="../css/device.css" />
</head>

<body>
  <div class="col-md-3 column margintop20">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
      <% devices.forEach(function(device) { %>
        <li><a href="/device?selected=<%= device.device %>"><span class="glyphicon glyphicon-chevron-right"></span> <%= device.device %></a></li>
        <!--/ Product Item -->
        <% }); %>
    </ul>
  </div>
  <div class="col-md-9 column margintop20">
    <div class="method">
      <div class="col-sm-3">
        <% methods.forEach(function(method) { %>
          <button class="method-button" type="submit" value="<%= method.method %>" id='<%= method.method %>'><%= method.method %></button>
          <% }); %>
      </div>
      <div class="col-sm-9">
        <% methods.forEach(function(method) { %>
          <textarea rows="2" class="method-text" readonly><%= method.description %></textarea>
          <% }); %>
      </div>
    </div>
  </div>
</body>
