<% include partials/header %>

<div class="container">
  <div class="row">

    <h1 style="text-align: center"><%=recipe.name%></h1>

    <img src="<%=recipe.image%>">

    <% recipe.instruction.forEach(function(step){ %>
        <p>
          <strong><%= step.stepnumber %></strong> - <%= step.step %>
        </p>
    <%});%>

    <a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[0]._id%>" class="btn btn-primary">START COOKING</a>

  </div>
</div>

<% include partials/footer %>
