<link rel="stylesheet" type="text/css" href="/css/show.css">

<% include partials/header %>

<div class="container">
  <div class="row">

    <h1 style="text-align: center"><%=recipe.name%></h1>

    <center><img src="<%=recipe.image%>" width="40%"></center>

    <% if (recipe.ingredients){ %>
        <p style="text-align: center">
          <strong>Ingredients: </strong><%= recipe.ingredients %>
        </p>
    <%};%>
    
    <% if (recipe.cooking_time){ %>
        <p style="text-align: center">
          <strong>Cooking time: </strong><%= recipe.cooking_time %> minutes 
        </p>
    <%};%>
    
    <% if (recipe.servings){ %>
        <p style="text-align: center">
          <strong>Number of servings: </strong><%= recipe.servings %> 
        </p>
    <%};%>
    
    <%var i=0;i++;%>
    <% recipe.instruction.forEach(function(step){ %>
        <%i++;%>
    <%});%>
    <p style="text-align: center">
          <strong>Number of steps: </strong><%= i %>  
        </p>
        
    <!--<% recipe.instruction.forEach(function(step){ %>-->
    <!--    <p style="text-align: center">-->
    <!--      <strong><%= step.stepnumber %></strong> - <%= step.step %>-->
    <!--    </p>-->
    <!--<%});%>-->

    <center><a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[0]._id%>" class="btn btn-primary" style="margin-bottom: 20px">START COOKING</a></center>

  </div>
</div>

<% include partials/footer %>
