<% include partials/header %>

<h1><%=recipe.name%></h1>

<img src="<%=recipe.image%>">

<!-- <p><%=recipe.instruction%></p> -->

<% recipe.instruction.forEach(function(step){ %>
    <p>
      <strong><%= step.stepnumber %></strong> - <%= step.step %>
    </p>
<%});%>

<% include partials/footer %>
