<% include partials/header %>

<div class="container">
  <div class="row">

    <h1 style="text-align: center">Please follow the instructions below</h1>

    <!-- The code below displays the previous step button for each step apart from the very first one -->

    <% for (var l = recipe.instruction.length, i = 0; i < l; i++) { %>
        <% step = recipe.instruction[i]%>
        <% if(step.id === stepid && step.stepnumber === 1) {%>
        <% break; } else if (step.id === stepid) { %>
            <p style="text-align: center">
              <center><a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[step.stepnumber-2]._id%>" class="btn btn-primary">Previous step</a></center>
            </p>
        <%  break; } %>
    <% } %>

  <!-- The code below introduces the timer -->

    <div style="text-align: center" class="container">
  	<p>Timer
      <div id="countdownExample">
          <div class="values"></div>
      </div>
  	<!-- Need this -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  	<script type="text/javascript" src= "/timer/easytimer.min.js"></script>
  	<script type="text/javascript" src="/timer/timer.js"></script>
    </p>
    </div>

    <!-- The code below displays the next step button for each step apart from the very last one and shows instruction -->

  <% for (var l = recipe.instruction.length, i = 0; i < l; i++) { %>
      <% step = recipe.instruction[i]%>
      <% if(step.stepnumber == recipe.instruction.length) {%>c
          <p style="text-align: center">
            <img src="<%=step.image%>"> <br />
            <strong><%= step.stepnumber %></strong> - <%= step.step %> <br />
            <strong>Time for this step: </strong> - <%= step.time %> minutes <br />
            <strong>Temperature of this step: </strong> - <%= step.temperature %> Celsius <br />
            <center><a href="/recipes/" class="btn btn-primary">This is the last step</a></center>
          </p>
      <% break; } else if (step.id === stepid) { %>
          <p style="text-align: center">
            <img src="<%=step.image%>"> <br />
            <strong><%= step.stepnumber %></strong> - <%= step.step %> <br />
            <strong>Time for this step: </strong> - <%= step.time %> minutes <br />
            <strong>Temperature of this step: </strong> - <%= step.temperature %> Celsius <br />
            <center><a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[step.stepnumber]._id%>" class="btn btn-primary">Next step</a></center>
          </p>
      <%  break; } %>
  <% } %>
  </div>
</div>

<% include partials/footer %>
