<% include partials/header %>

<div class="container">
  <div class="row">

    <!-- The code below displays the previous step button for each step apart from the very first one -->

    <% for (var l = recipe.instruction.length, i = 0; i < l; i++) { %>
        <% step = recipe.instruction[i]%>
        <% if(step.id === stepid && step.stepnumber === 1) {%>
        <% break; } else if (step.id === stepid) { %>
            <p style="text-align: center">
              <center><a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[step.stepnumber-2]._id%>" class="btn btn-primary">Previous step</a></center>
            </p>
        <%  break; } %>
    <% } %>

    <!-- The code below displays the next step button for each step apart from the very last one and shows instruction -->

  <% for (var l = recipe.instruction.length, i = 0; i < l; i++) { %>
      <% step = recipe.instruction[i]%>
      <!-- The code below introduces the timer -->
      <% if(step.stepnumber == recipe.instruction.length) {%>
	      <div style="text-align: center" class="container">
	      	<h1 style="text-align: center">Temperature: <span id="temperature-reading" value="<%= step.temperature %>"></span></h1>
		  	<h1>Timer
		      	<div id="countdownExample">
		      		<button class="btn btn-lg" id="start-step" value="<%= step.time %>">Start</button>
		          	<h2><div class="values"></div></h2>
		      	</div>
		    </h1>
		    </div>
          <p style="text-align: center">
            <img src="<%=step.image%>"> <br />
            <strong><%= step.stepnumber %></strong> - <%= step.step %> <br />
            <strong>Time for this step: </strong> - <%= step.time %> minutes <br />
            <strong>Temperature of this step: </strong> - <%= step.temperature %> Celsius <br />
            <center><a href="/recipes/" class="btn btn-primary">This is the last step</a></center>
          </p>
      <% break; } else if (step.id === stepid) { %>
      	<div style="text-align: center" class="container">
      		<h1 style="text-align: center">Temperature: <span id="temperature-reading" value="<%= step.temperature %>"></span></h1>
		  	<h1>Timer
		      	<div id="countdownExample">
		      		<button class="btn btn-lg" id="start-step" value="<%= step.time %>">Start</button>
		          	<h2><div class="values"></div></h2>
		      	</div>
		    </h1>
	    </div>
          <p style="text-align: center">
            <img src="<%=step.image%>"> <br />
            <strong><%= step.stepnumber %></strong> - <%= step.step %> <br />
            <strong>Time for this step: </strong> - <%= step.time %> minutes <br />
            <strong>Temperature of this step: </strong> - <%= step.temperature %> Celsius <br />
            <center><a href="/recipe/<%= recipe._id%>/<%= recipe.instruction[step.stepnumber]._id%>" class="btn btn-primary">Next step</a></center>
          </p>
      <%  break; } %>
  <% } %>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/step.css">
<script type="text/javascript" src= "/timer/easytimer.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/step.js"></script>

<% include partials/footer %>
